/*Styling, v nice, especially the centering that doesn't require me to make images text*/

body {
    background-color: rgb(146, 198, 146);
  }
  h1 {
    color: black;
  }
  p {
    color: darkgray;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }